$primaryColor: #db0000;
$secondaryColor: #ffffff;
$textcolor: #222;
$menucolor: #C7372F;

$defaultfont:  'Quicksand', sans-serif;
$lightweight: 300;
$normalweight: 400; 
$boldweight: 700;

$gutter: 16px;